ipykernel
numpy
pandas
bs4
flask
streamlit
scikit-learn
scikeras
nltk
langchain
python-dotenv
langchain_community
pypdf
arxiv
pymupdf
wikipedia
langchain-text-splitters
missingno
imblearn
mlxtend
joblib
psycopg2
Flask-SQLAlchemy
locust
langchain-openai
chromadb
langchain-community
sentence_transformers
langchain_huggingface
tf-keras
faiss-cpu
langchain_chroma
langchain-openai
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
duckduckgo-search
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio